.background-image-tours {
  // background: url(asset_path("tours/tours-show-bw"));
  // background: url(asset_path("tours/tob-heaven"));
  // background: url(asset_path("tours/bass-confetti"));
  background: url(asset_path("tours/bass"));
  // background: url(asset_path("tours/drums-confetti"));
  // background: url(asset_path("tours/confetti"));
  background-size: cover;
  height: 100vh;
}
