// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #2fdb6e;
$hgreen: #25b359;
$gray: #303030;
$hgray: #505050;
$light-gray: #F4F4F4;
