// Specific CSS for your home-page
.homepage-link {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.artist-container,
.venue-container {
  height: 100vh;
  width: 50vw;
  transition: .1s;
}

.artist-container {
  // background: url(asset_path("venue/venue-login-bw-left"));
  background: url(asset_path("home/koko-confetti-bw-left"));
  // background-position: bottom;
  &:hover {
    // background: url(asset_path("venue/venue-login-recolour-left"));
    background: url(asset_path("home/koko-confetti-recolour-left"));
    // background-position: bottom;
  }
}

.venue-container {
  // background: url(asset_path("venue/venue-login-bw-right"));
  background: url(asset_path("home/koko-confetti-bw-right"));
  // background-position: bottom;
  &:hover {
    // background: url(asset_path("venue/venue-login-recolour-right"));
    background: url(asset_path("home/koko-confetti-recolour-right"));
    // background-position: bottom;
  }
}

.bg-bottom-cover {
  background-position: bottom;
  background-size:cover;
  &:hover {
    background-position: bottom;
  }
}
