.venue_container {
  background-color: #fff;
  height: 85vh;
}

.venue_gallery {
  background-color: #E5E5E5;
  height: 100%;
  width:100%
}

.venue_info {
  height: 100%;
}

.venue_calendar_container {
  background-color: #E5E5E5;
  margin-left: -8.5px;
}

.calendar-heading {
  text-align: center;
}

.simple-calendar .day {
  height: 52px;
}
