<% if current_user.is_band == true%>
<div class="container card-container mt-3">
  <% @tours.each do |tour| %>
    <%= link_to tour_path(tour) do %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= tour.name %></h2>
          <span>
            start date:
            <%= tour.start_date.strftime("%y-%m-%d") %>
          </span>
          <span>
            end date:
            <%= tour.end_date.strftime("%y-%m-%d") %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% else %>
  <div class="p-55">
    <p>You shall not pass!</p>
  </div>
<% end %>
