<div class="container card-container">
  <% @tours.each do |tour| %>
    <% @dates = tour.bookings.map{ |booking| booking.dates }.flatten.sort %>
    <%= link_to tour_path(tour) do %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= tour.name %></h2>
          <span>
            start date:
            <%= @dates[0].to_s.split(' ')[0] %>
          </span>
          <span>
            end date:
            <%= @dates[-1].to_s.split(' ')[0] %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
