<%= link_to venue_path(venue) do %>

  <div class="card-trip venue-info">
    <% if venue.photos.attached? %>
      <%= cl_image_tag venue.photos.first.key, crop: :fill %>
    <% end %>
    <div class="card-trip-infos venue-text">
      <div>
        <h2><%= venue.name %></h2>
        <p>Capacity: <%= venue.capacity %></p>
      </div>
    </div>
  </div>
<% end %>
