<div class="container">
  <div class="venue_info">
    <h1><%= @venue.name %></h1>
    <h3>About Venue:</h3>
    <p><%= @venue.description %></p>
    <div class="capacity_container">
      <p>Capacity: </p>
      <span><%= @venue.capacity %></span>
    </div>
    <div class="calendar_container" data-controller="calendar" data-calendar-available_dates="<%= @dates %>">
      <div id="color-calendar" data-calendar-target="available_dates">
      </div>
    </div>
  </div>
  <div class="venue_gallery">

  </div>
</div>
