// .venue_container {
//   background-color: #fff;
//   height: 85vh;
// }

.venue_gallery {
  background-color: $gray;
  opacity: .85;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-items: center;
}

.venue_info {
  height: 100%;
}

.venue_calendar__submit-container {
  text-align: center;
  position: relative;
}

.venue_calendar__submit-button {
  background-color: $green;
  color: white;
  transition: .3s;
  &:hover {
    color: white;
    background-color: $hgreen;
  }
}

.simple-calendar .today {
    background: $green;
}

.simple-calendar tr {
  color: white;
}

.calendar-day {
  color: $hgray !important;
}

.calendar-day a {
  text-decoration: none;
  color: $green;
  &:hover {
    color: white;
  }
}

.venue_calendar_container {
  background-color: $gray;
  opacity: .85;
}

.calendar-heading {
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

.calendar-heading a {
  text-align: center;
  color: $green;
  text-decoration: none;
}

.simple-calendar .day {
  height: 41px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.background-image-venues-show {
  background: url(asset_path("tours/tours-show-bw"));
  // background: url(asset_path("tours/tob-heaven"));
  // background: url(asset_path("tours/bass-confetti"));
  // background: url(asset_path("tours/bass"));
  // background: url(asset_path("tours/drums-confetti"));
  // background: url(asset_path("tours/confetti"));
  background-size: cover;
  height: 100vh;
}

.prev-month {
  background-color: yellow;
}

.current-month {
  background-color: grey !important;
}

.booked_date {
  color: $green;
}
