.venue_container {
  background-color: #fff;
  height: 85vh;
}

.venue_gallery {
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width:100%;
  padding: 15px;
  align-items: center;
  justify-items: center;
}

.venue_info {
  height: 100%;
}

.venue_info__small {
  height: 38%;
}

.venue_calendar__submit-container {
  text-align: center;
  position: relative;
}

.calendar__date {
  opacity: 0.1;
  background-color: 'red';
}

.simple-calendar .today {
    background: none;
}

.calendar-day a{
  text-decoration: none;
  color: inherit;
}

.venue_calendar__submit-button {
  background-color: #b5e48c;
  position: absolute;
  bottom: -27px;
  left: 32%;
}

.venue_calendar_container {
  background-color: #E5E5E5;
  margin-left: -8.5px;
}

.calendar-heading {
  text-align: center;
}

.simple-calendar .day {
  height: 41px;
}

.venue span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}
