.btn {
  color: white !important;
  // text-shadow: -1px 1px 1px #000;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  width: 232px;
  height: 75px;
  background-color: transparent;
  border-radius: 40px;
  border: 5px solid $green;
  cursor: pointer;
  font-size: 2vmin;
  padding: 1em;
  // box-shadow: 3px 3px 4px 2px $hgray;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: $green;
  color: white !important;
}

.btn-login {
  border: 0.2em solid $lgray;
}

