.card-product {
  overflow: hidden;
  height: 120px;
  color: white;
  background-color: $gray;
  opacity: .85;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 15px 0;
  transition: .1s;
  border-radius: 4px;
  &:hover {
    background-color: $hgray;
    // border-right: 3px solid $green;
  }
}

.card-product-users {
  overflow: hidden;
  color: white;
  background-color: $gray;
  padding-left: 0px;
  opacity: .85;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: .1s;
  border-radius: 4px;
  &:hover {
    background-color: $hgray;
    // border-right: 3px solid $green;
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product:first-child {
  margin-top: 0px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-container {
  // overflow: auto;
  height: 90vh;
}

.card-container-index {
  overflow: auto;
}

.venue.card-container {
  height: 88vh;
}

.venue_calendar__container {
  margin-top: 5px;
}

.venue.card-container-small {
  overflow: auto;
  height: 43%;
}

.card-container a{
  text-decoration-style: none;
  text-decoration-line: none;
  color: inherit;
}

.venue_card_image {
  margin-left: -15px;
}

.venue span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.card__selected {
  background-color: $hgray;
  border-right: 3px solid $green;
}
