// #map { width: 100%; height:100%}

.mapboxgl-canvas {
  opacity: .9;
}

.mapboxgl-marker {
  background-image: asset-url('logo/markerlogo.png');
  width: 20px;
  height: 40px;
  background-size: cover;
  background-position: center;
}

.mapboxgl-popup-content:focus-visible,
.card-trip-infos:focus-visible,
.venue-text:focus-visible,
.mapboxgl-popup:focus-visible,
.mapboxgl-popup-anchor-bottom:focus-visible,
.mapboxgl-popup-content a:focus-visible {
  outline: none !important;
}

.ap-name {
  color: black;
}

.ap-name em {
  color: black;
}

.ap-address {
  color: black;
}

.ap-address em {
  color: black;
}

// .button-container {
//   // height: 25px;
//   display: flex;
//   justify-content: center;
//   margin: 5px;
// }

// .venue-show-btn {
//   background-color: grey;
//   padding: 8px 8px;
//   border-radius: 2px;
//   color:white;
//   text-decoration: none;
//   margin: 4px 0px;
// }
// .mapboxgl-popup-content {

// }
