#navbar-homepage .navbar-lewagon {
  position: absolute;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-custom {
  position: fixed;
  width: 100vw;
  height: 50px;
  color: white;
  background-color: $gray;
  z-index: 5;
}

.nav-link {
  color: $lgray !important;
  transition: .3s;
  &:hover {
    color: $white !important;
  }
}
