#venue_address {
  background: black;
  color: white;
  width: 400px;
  &:hover {
    border: 1px solid $green;
  }
}

svg {
  background: url(asset_path("logo/logo.png"));
  background-size: cover;
  width: 10px;
  height: 15px;
}
