.banner {
  width: contain;
  height: 500px;
  background-size: auto;
  background-position: 20% 80%;
  border-radius: 20px;
  object-fit: cover;
  h2 {padding: 2px, 3px, 2px;
      bottom: 25px;
      color:white;}
  h6 {padding: 2px, 3px, 2px;
      color:white;
      bottom: 25px;}
}

.content {

}

.rev-card {
  border-radius: 20px;
  margin: 100px, 20px;
}

.row-cont {
  border-radius: 20px;
  margin: 100px, 20px;
}

.tour-card {
  border-radius: 20px;
  margin: 20px, 20px;
}
