.background-image {
  background: url(asset_path("session/session-bw"));
  background-size: cover;
}

.form-container {
  max-width: 450px;
  height: 100vh;
  background-color: $gray;
  opacity: .85;
}
